body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif
}

h1 {
  color: #0077cc;
  text-align: center;
}

ul {
  color: #777; 
}

li {
  background-color: #ffffff; 
  padding: 12px 20px; 
  margin: 8px 0; 
}
